<div class="vh-100 d-flex">
  <div class="container text-center">
    <h1 class="my-5">タスク編集</h1>

    <%= render 'form', task: @task %>

    <%= link_to 'Show', @task, class: "btn btn-outline-dark mt-3 me-2" %>
    <%= link_to 'Back', tasks_path, class: "btn btn-outline-dark mt-3" %>
  </div>
</div>
