<div class="vh-100 d-flex">
  <div class="container">
    <h1 class="my-5">タスク編集</h1>

    <%= render 'form', task: @task %>

    <%= link_to @task, class: "btn btn-outline-dark mt-3 me-2" do %>
      <i class="fa-solid fa-circle-info"></i> 詳細
    <% end %>
    <%= link_to tasks_path, class: "btn btn-outline-dark mt-3" do %>
      <i class="fa-solid fa-backward-step"></i> 戻る
    <% end %>
  </div>
</div>
