<h1>タスク詳細</h1>
<div>
  title:<br>
  <%= @task.title %>
</div>
<div>
  content:<br>
  <%= @task.content %>
</div>
<div>
  deadline:<br>
  <%= @task.deadline %>
</div>
<div>
  status:<br>
  <%= @task.status %>
</div>
