/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

 @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700;900&family=Sora:wght@400;700&display=swap");

 @import "font-awesome";

 @import 'tasks';

 :root {
   --primary: #0d6efd;
   --dark: #21252f;
   --body: #888;
   /* --orange: rgb(221, 155, 94); */
   --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
 }

 body {
   font-family: Sora, "sans-serif";
   line-height: 1.7;
   color: var(--body);
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark);
  font-weight: 700;
}

a {
  color: var(--dark);
  text-decoration: none;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 200px;/*←footerの高さ:137.2px*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}


 .navbar .nav-link {
   /* importantをつけると最優先にされる */
   color: #fff !important;
   font-size: 14px;
   font-weight: 700;
   padding-top: 16px;
 }

 .navbar-toggler{
  border-color: #ffffff;
}

.navbar-toggler{
  background-color: white;
}

div.task-panel {
  box-shadow: var(--box-shadow);
  margin: 40px 0;
}
